{% extends 'base.html.twig' %}

{% block title %}Votre compte{% endblock %}

{% block body %}
    {{ form(form) }}
{#    {% if app.flashes(success) %}#}
{#        <div class="alert alert-success">{{ app.flashes(success) }}</div>#}
{#    {% endif %}#}
{#    {% if app.flashes(error) %}#}
{#        <div class="alert alert-danger">{{ app.flashes(error) }}</div>#}
{#    {% endif %}#}
    {{ dump(QrCode) }}
{% endblock %}
