{% extends 'base.html.twig' %}

{% block title %}Votre compte{% endblock %}

{% block body %}
    <main id="account">
        {{ form(form) }}
        {% if (QrCode)  %}
            <img src="{{ QrCode }}" alt="QR Code"/>
        {% endif %}
    </main>

{% endblock %}
