{% extends 'baseForLogPages.html.twig' %}

{% block body %}

    <main id="home-page" >
        <div id="home--direction" class="container-primary">
            <h1>Bienvenue sur TaskLinker</h1>
            <h2>Commencez dès maintenant - gratuitement</h2>
            <h3>Vous avez déjà un compte ?</h3>
            <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
            <div class="choice--separator">ou</div>
            <a href="{{ path('app_register') }}" class="btn btn-tertiary">S'inscrire</a>
        </div>


    </main>

{% endblock %}